.main-container {
    min-height: calc(100vh - 3rem);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-template-rows: repeat(6, 1fr);
}

.product-card-container {
    margin: 1rem 0.5rem;
    background-color: var(--white);
    border-radius: 5px;
    position: relative;
}

.product-card_container-images {
    height: 15rem;
    width: 100%;
    background-size: cover;
    border: 1px solid var(--white);
    border-radius: 5px;
}

.card_heading {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--dark-tertiary);
}

.card_sub-heading {
    margin-left: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}

.card_sub-text {
    font-size: 0.8rem;
    margin-left: 0.3rem;
    font-weight: 400;
    color: var(--dark);
}

strike {
    text-decoration: line-through;
}

.card_btn button {
    min-width: 6.5rem;
    margin: 0.5rem 0rem 0.5rem 0.6rem;
    color: var(--white);
    border: 1px solid var(--dark);
    font-weight: 600;
    font-size: 1rem;
    padding: 5px;
}

.card_rating-logo,
.card_rating-styles {
    margin-left: 1rem;
}

.card_rating-logo {
    position: absolute;
    font-weight: 600;
    top: 13.5rem;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 5px;
    padding: 0 0 0 2px;
    font-size: 0.7rem;
    border: 0.1px solid var(--secondary-bg-color);
}

.card_wishlist-icon {
    color: var(--white);
    padding: 4px;
    background-color: var(--dark);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.card_wishlist-added {
    background-color: var(--hotpink);
}

.card_btn>.btn-outline {
    color: var(--hotpink);
}

.card_btn button:hover {
    color: var(--primary);
    background-color: var(--white);
}

@media screen and (max-width:768px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        grid-template-rows: repeat(6, 1fr);
    }
    .product-card_container-images {
        height: 12rem;
    }
    .product-card-container {
        margin: 1rem 0.5rem;
        background-color: var(--white);
        border-radius: 5px;
        height: auto;
        position: relative;
    }
    .card_rating-logo {
        top: 10.5rem;
    }
}