@import url("../products/productsCard.css");
.wishlist_body-container {
    min-height: 100vh;
    background-color: var(--dark-primary-text);
}

.heading_wishlist-counter {
    margin-top: 4rem;
    font-size: 1.3rem;
    color: var(--dark-tertiary);
    font-weight: 800;
}

.wishlist_card {
    width: 13rem;
}